# Build outputs
.gradle/
build/
local.properties
dist/
node_modules/
.vite/
*.tmp

# Android SDK & Tooling
Sdk/
android-tools/

# Environment & Secrets
.env
.env*
!.env.example

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
